---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Finance PhD Candidate - UCLA Anderson">
    <meta name="keywords" content="Robert Richmond, Robert J Richmond, Robert J. Richmond, Rob Richmond, Rob J Richmond, Robert Richmond UCLA"/>

    <meta name="author" content="">
    <link rel="icon" href="favicon.png">

    <title>CV - Robert J. Richmond</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">

  </head>
  <body>
    <!-- Google Tag Manager -->
    {% include_relative googletagmanager.html %}
    <!-- End Google Tag Manager -->
    <div class="container">
      
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"><a href="index.html" class="deco-none">Robert J. Richmond</a></h3>
          <nav>
            <ul class="nav masthead-nav">
	      <li><a href="index.html">Home</a></li>
	      <li class="active"><a href="#">CV</a></li>
	      <li><a href="teaching.html">Teaching</a></li>
            </ul>
          </nav>
        </div>
      </div>

      {% include_relative CV_Information.html %}
      
      <div class="row">
	<div class="col-sm-12">
	  {% include_relative RobertRichmond.html %}
	</div> <!-- end column -->
      </div> <!-- end row -->
      
    </div> <!-- end container -->
</body>

</html>


